<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Bykes - Make it yours</title>
</head>
<body>
    <main class="container col-8">
      
      <!--Navbar-->
      <%- include('../partials/headerNegro.ejs') %>
          <br><br><br>
        <section class="seccion row">

          <article class="titulo d-flex justify-content-center">
            <h1 class="border-bottom border-dark col-12">EDICION DE PRODUCTO</h1>
          </article>

          <br>
          <br>
          
          <article class="formulario col-12">
            <!--errores del FRONT END-->
            <div>
              <ul id="errores">

              </ul>
            </div>

            <% if (typeof errors != 'undefined') { %>
              <ul>
                <% for(var i = 0; i < errors.length; i++) { %>
                <li> <%= errors[i].msg %> </li>
                <% } %>
                </ul>
              <% } %>  
            <form id="edicionProductos" action="/administrador/edit/<%= biciEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
              <label for="colores">Color:</label>
              <input type="text" placeholder="Nombre del color" class="col-5 form-control" name="colores" value="<%= biciEditar.colors%>">
              <br>

            <div class="talle-rodado">               
              <div class="talle d-flex">
                <h6>Talle:</h6>

                <div class="custom-control">
                  <input type="text" name="talle" class="form-control" value="<%= biciEditar.size%>">
                </div>
              </div>
                
              <div class="talle d-flex">
                <h6>Rodado:</h6>
                
                <div class="custom-control">
                  <input type="text" name="rodado" value="<%= biciEditar.shot%>" class="form-control">
                </div>
                <br>
              </div>
            </div>

              <br>
              
              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="marca">Marca:</label>
                  <input type="text" placeholder="Marca" name="marca" class="col-12 form-control" id="marca" value="<%= biciEditar.brand%>">
                </div>
                <div class="col-5">
                  <label for="modelo">Modelo:</label>
                  <input type="text" placeholder="Modelo" name="modelo" class="col-12 form-control" value="<%= biciEditar.model%>">
                </div>
              </div>

              <br>
              
              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="">Precio:</label>
                  <input type="number" placeholder="Precio" name="precio" class="col-12 form-control" value="<%= biciEditar.price%>">
                </div>
                <div class="col-5">
                  <label for="">Descuento:</label>
                  <input type="number" placeholder="Descuento" name="descuento" class="col-12 form-control" value="<%= biciEditar.discount%>">
                </div>
              </div>

              <br>

              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="">Cuotas:</label>
                  <select name="cuotas" class="form-control col-12">
                    <option value="si" <%= biciEditar.financing == "si" ? "selected" : null %>>Sí</option>
                    <option value="no" <%= biciEditar.financing == "no" ? "selected" : null %>>No</option>
                  </select>
                </div>
                <div class="col-5">
                  <label for="">Cantidad de cuotas:</label>
                  <input type="text" placeholder="Cantidad de cuotas" name="cantCuotas" class="col-12 form-control" value="<%= biciEditar.financingSize%>">
                </div>
              </div>
              <br>
              <div>
                <select name="estilo" class="form-control col-5">
                  <option value="">Estilo</option>
                  <option value="1" <%= biciEditar.styleId == "1" ? "selected" : null %>>1- Fixie</option>
                  <option value="2" <%= biciEditar.styleId == "2" ? "selected" : null %>>2- Mountain</option>
                  <option value="3" <%= biciEditar.styleId == "3" ? "selected" : null %>>3- Urban</option>
                </select>
              </div>
              

              <!--Descripciones-->
              <div class="mb-3">
                <br>
                <label for="">Descripcion:</label>
                <textarea class="form-control" name="descripcion" id="validationTextarea" placeholder="Descripción del producto" ><%= biciEditar.description%></textarea>
                <br>
                <label for="">Descripcion tecnica:</label>
                <textarea class="form-control" name="descripcionTecnica" id="validationTextarea" placeholder="Descripción Tecnica"><%= biciEditar.techDescription%></textarea>
              </div>


            <article class="fotoProducto col-12 col-sm-12 col-md-12 col-lg-12   col-xl-12 d-flex justify-content-center mt-2">

                <div class="bg-transparent text-white border-light w-55 p-1 pt-3">
                    <input type="hidden"  name="oldImagen"  value="<%= biciEditar.image%>">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="imagen" value="<%= biciEditar.image%>">
                    
                    <label class="custom-file-label" for="validatedCustomFile">Archivo de imagen</label>

                  <figure class="">
                    <img src="/images/bicicletas/<%= biciEditar.image%> " class="card-img" alt="Bicicleta">
                  </figure>
                    
                </div>

                
            </article>
              

              

              <div class="botones">
              <button type="submit" class="btn btn-primary btn-lg btn-dark" style="background-color: black">Cargar Producto</button>

              <a href="/administrador" class="btn btn-primary btn-lg btn-danger" style="background-color: #FF6000 ; border: orangered">Volver</a>
              <br><br><br>
              </div>

            </form>
          </article>
        </section>
    </main>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/editProductos.js"></script>
</body>
</html>