<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/listaadmin.css">
    <title>Bykes - Make it yours - Contacto</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <%- include('../partials/headerNegro.ejs') %>
    
    <!--detalle admin-->
    <section class="row container col-12">

        <article class="titulo d-flex justify-content-center border-bottom border-dark col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Detalle Usuario</h5>
        </article>

        <article class="fotoProducto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center mt-2">
            <div class="card bg-transparent text-white border-dark w-55 p-1 pt-3">
              <figure class="">
                <img src="/images/usuarios/<%= miUsuario.image%> " class="card-img" alt="Imagen">
              </figure>
            </div>
        </article>

        <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="row row-cols-1 row-cols-sm-12 row-cols-md-12 row-cols-lg-12 row-cols-xl-2 d-flex justify-content-center mt-2">
              <div class="cartaUno col mb-4">
                <div class="card h-100 border-dark">
                  <div class="card-body text-center">
                    <h4 class="card-title">Nombre: <%= miUsuario.firstName%></h4>
                    <h4 class="card-title">Apellido: <%= miUsuario.lastName%></h4>
                    <h4 class="card-title">DNI: <%= miUsuario.dni %></h4>
                    <h4 class="card-text"> Categoria: <%= miUsuario.category %></h4>
                    <h4 class="card-title">Email: <%= miUsuario.email %></h4>
                    <h4 class="card-title">Teléfono: <%= miUsuario.phoneNumber %></h4>
                    <a href="/usuarios" class="btn btn-primary btn-lg btn-danger" style="background-color: #FF6000 ; border: orangered">Volver</a>
                  </div>
                </div>
              </div>

          </article>

    </section>

    <%- include('../partials/footer.ejs') %>

  </main>
</body>
</html>