<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Bykes - Make it yours</title>
</head>
<body>
    <main class="container col-8">
      
      <!--Navbar-->
      <%- include('../partials/headerNegro.ejs') %>
          <br><br><br>
        <section class="seccion row">

          <article class="titulo d-flex justify-content-center">
            <h1 class="border-bottom border-dark col-12">EDICION DE USUARIO</h1>
          </article>

          <br>
          <br>
          
          <article class="formulario col-12">
            <!--errores del FRONT END-->
            <div>
              <ul id="errores">

              </ul>
            </div>
            <form id="edicionUsuarios" action="/usuarios/edit/<%= usuarioEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="marca-modelo col-12">
              <div class="col-5">
                <label for="nombre">Nombre:</label>
                <input type="text" placeholder="Nombre" class="col-12 form-control" name="firstName" value="<%= usuarioEditar.firstName%>"><br>
              <% if(typeof errors != 'undefined' && errors.firstName){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.firstName.msg %></span>
                <%}%>

              </div>

              <div class="col-5">
                <label for="apellido">Apellido:</label>
                <input type="text" placeholder="Apellido" class="col-12 form-control" name="lastName" value="<%= usuarioEditar.lastName%>"><br>
              <% if(typeof errors != 'undefined' && errors.lastName){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.lastName.msg %></span>
                <%}%>

              </div>
                


                

            </div> 
              <br>
              <br>
              <br>

            <div class="marca-modelo col-12">               
              <div class="talle d-flex">
                <h6>Email:</h6>

                <div class="custom-control">
                  <input type="email" name="email" class="form-control" value="<%= usuarioEditar.email%>"><br>
                  <% if(typeof errors != 'undefined' && errors.email){%>
                    <span class="text-danger" style="font-weight: 800;" > <%= errors.email.msg %></span>
                    <%}%>
                </div>
              </div>
                
              <div class="talle d-flex">
                <h6>Categoría:</h6>
                
                <div class="custom-control">
                  <input type="number" name="category" value="<%= usuarioEditar.category%>" class="form-control">
                </div>
                <br>
              </div>
            </div>

              <br>
              
              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="dni">DNI:</label>
                  <input type="text" placeholder="DNI" name="dni" class="col-12 form-control" id="dni" value="<%= usuarioEditar.dni%>">
                </div>
                <div class="col-5">
                  <label for="telefono">Teléfono:</label>
                  <input type="text" placeholder="Teléfono" name="phoneNumber" class="col-12 form-control" value="<%= usuarioEditar.phoneNumber%>">
                </div>
              </div>

              <br>
              
              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="">Dirección:</label>
                  <input type="text" placeholder="Dirección" name="streetName" class="col-12 form-control" value="<%= usuarioEditar.addresses.streetName%>">
                  <br>
              <% if(typeof errors != 'undefined' && errors.streetName){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.streetName.msg %></span>
                <%}%>
                </div>
                <div class="col-5">
                  <label for="">Piso y Departamento:</label>
                  <input type="text" placeholder="Piso y Departamento" name="additionalNumbers" class="col-12 form-control" value="<%= usuarioEditar.addresses.additionalNumbers%>">
                </div>
              </div>

              <br>
              <div class="marca-modelo col-12">
                <div class="col-5">
                  <label for="">Código Postal:</label>
                  <input type="number" placeholder="Código Postal" name="zipCode" class="col-12 form-control" value="<%= usuarioEditar.addresses.zipCode%>">
                  <br>
              <% if(typeof errors != 'undefined' && errors.zipCode){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.zipCode.msg %></span>
                <%}%>
                </div>
                <div class="col-5">
                  <label for="">Provincia:</label>
                  <input type="text" placeholder="Provincia" name="province" class="col-12 form-control" value="<%= usuarioEditar.addresses.province%>">
                  <br>
              <% if(typeof errors != 'undefined' && errors.province){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.province.msg %></span>
                <%}%>
                </div>
              </div>
              
              <br>
              <div>
                <label for="">Localidad:</label>
                <input type="text" placeholder="Localidad" name="neighbourhood" class="col-5 form-control" value="<%= usuarioEditar.addresses.neighbourhood%>">
                <br>
              <% if(typeof errors != 'undefined' && errors.neighbourhood){%>
                <span class="text-danger" style="font-weight: 800;" > <%= errors.neighbourhood.msg %></span>
                <%}%>
              </div>
              
            <article class="fotoProducto col-12 col-sm-12 col-md-12 col-lg-12   col-xl-12 d-flex justify-content-center mt-2">

                <div class="bg-transparent text-white border-light w-55 p-1 pt-3">
                    <input type="hidden"  name="oldImagen"  value="<%= usuarioEditar.image%>">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="image" value="<%= usuarioEditar.image%>">
                    
                    <label class="custom-file-label" for="validatedCustomFile">Foto de perfil</label>

                  <figure class="">
                    <img src="/images/usuarios/<%= usuarioEditar.image%> " class="card-img" alt="imagen">
                  </figure>
                    
                </div>

                
            </article>
              

              

              <div class="botones">
              <button type="submit" class="btn btn-primary btn-lg btn-dark" style="background-color: black">Cargar usuario</button>

              <a href="/usuarios" class="btn btn-primary btn-lg btn-danger" style="background-color: #FF6000 ; border: orangered">Volver</a>
              <br><br><br>
              </div>

            </form>
          </article>
        </section>
    </main>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/editUsuarios.js"></script>
</body>
</html>